.archive-wrapper {
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    

    .archive-note{
        width: 100%;
        display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    }

    // .archive-main{
    .archive-box {
        display: flex;
        justify-content: center;

        .fa-archive-icon {
            font-size: 100px;
            border-radius: 0px;
            background-color: white;
            padding: 0px;
            color: lightgray;
        }
    }
    .archive-heading {
        font-family: "Roboto", sans-serif;
        color: #80868b;
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: 0;
    }
    // }
}
