.archive-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // .archive-main{
    .archive-box {
        display: flex;
        justify-content: center;

        .fa-archive-icon {
            font-size: 100px;
            border-radius: 0px;
            background-color: white;
            padding: 0px;
            color: lightgray;
        }
    }
    .archive-heading {
        font-family: "Roboto", sans-serif;
        color: #80868b;
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: 0;
    }
    // }
}
